* {
	box-sizing: border-box;
	font-family: Arial;
	color: #444;
	
}


html, body{
		margin: 0;
		padding: 0;
	
}


.main-header{
	background-image: url("earth layers.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: multiply;
	padding-bottom: 100px;
}


.nav ul{
	margin: 0;
	
	
}
.nav li{
	display: inline;
	
}
.nav a{
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
	font-size: 1.5em
	
}
.nav a:hover{
	background-color: rgba(255,255,255,.3)
	
}
.main-nav{
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255, 255, 255,.3);
	border-top: 1px solid rgba(255, 255, 255,.3);
	
}
.main-nav li{
	padding: 1.5%
}


.my-name{
	text-align: center;
	margin: 0;
	font-size: 4em;
	color: white;
}
.my-name-footer{
	font-size: 2em;
	color: white;
	padding: 0;
}

.my-header2{
	text-align: left;
	margin: 0;
	font-size: 2em;
}


.content-section{
	margin: 1em;
	padding: 0 5em;
}
.container{
	max-width: 1500px;
	margin: 100px auto;
	padding: 0 1.5em;
	font-size: 1.5em;
	
	
}

.div-dpimage{
	padding-top: 30px;
	padding-bottom: 10px;
	
}

.div-dpimage img{
	text-align: center;
	
}


.about-my-dp{
	width: 180px;
	height: 180px:
	text-align: center;
	
	img{
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
}



.black_border{ 
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;

}


.smaller_image{
	width: 200px
	
}

.main-footer{
	background-color: #56CCF2;
	color: white;
	padding:  5px;
	text-align: center;
	
}

.list-main{
	margin-top: 20px;
	margin-bottom: 20px;
	text-decoration: none;
	
}


.list-main a{
	text-decoration: none;
	
}

.list-main a:hover{
	background-color: rgba(255,255,255,.3)
	
}




.about-header{
	background-image: url("sheldon_publication page.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
	background-blend-mode: multiply;
	padding-bottom: 30px;
}


.about-name{
	text-align: center;
	margin: 0;
	font-size: 4em;
	color: white;
	padding: 80px
}
	
.about-para{
	
}

.about-para a{
	text-decoration: none;
}

.highlight-word-color{
	color: #5926d1

}

.sparetime-body{
	text-align: center;
	padding: 80px;
	font-weight: bold;
	font-size: 3em
	
	
	
}

.sparetime-header{
	background-image: url("sheldon_sparetimepage.jpg");
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
	background-blend-mode: multiply;
	padding-bottom: 30px;
}